.sidebar {
    flex: 1;
    border-right: 1px solid rgb(199, 199, 199);
    height: 90vh;
    margin: 5px 0px 5px 5px;

    .link {
        display: block;
        width: 100%;
        margin: 0;
        padding: 10px 0 10px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        color: #000;
        text-decoration: none;
        
        &:hover {
            background-color: rgb(201, 201, 201);
        }
    }
    h4{
        margin: 0;
        padding: 10px 0;
        font-size: 18px;
        font-weight: 500;
        
    }
    
    p {
        font-size: 16px;
        margin-left: 10px;
        padding: 5px 0 5px 5px;
        font-weight: 500;
        cursor: pointer;
        
        &:hover {
            background-color: rgb(201, 201, 201);
        }
    }
}

