.sidebar {
    width: 20%;
    border-right: 1px solid rgb(199, 199, 199);
    height: 90vh;
    margin: 5px 0px 5px 5px;
    position: fixed;
    left: 0;

    .link {
        display: block;
        width: 100%;
        margin: 0;
        padding: 10px 0 10px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        color: #000;
        text-decoration: none;

        &:hover {
            background-color: rgb(201, 201, 201);
        }
    }
    h4 {
        margin: 0;
        padding: 10px 0;
        font-size: 18px;
        font-weight: 500;
    }
    p {
        display: block;
        width: 90%;
        margin: 0 0 0 15px;
        padding: 10px 5px 10px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        color: #000;
        text-decoration: none;

        &:hover {
            background-color: rgb(201, 201, 201);
        }
    }
}

@media only screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        background-color: white;
        text-align: center;

        h4 {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }

        p {
            text-align: center;
            margin-left: 35px;
            padding: 10px 0;
        }
        &.visble {
            left: 0%;
        }
        &.hidden {
            left: -105%;
        }
    }
}
